.button {
	@apply inline-block border-2 rounded-full relative w-6 h-4 m-3;
	input {
		@apply opacity-0 w-0 h-0;
		&:checked + .slider {
			@apply ring-2 ring-purple-500 bg-purple-900;
			&:before {
				@apply bg-purple-500;
			}
		}
		&:checked + .slider:before,
		&:checked + .slider img {
			-webkit-transform: translateX(1.25rem);
			-ms-transform: translateX(1.25rem);
			transform: translateX(1.25rem);
		}
	}
}

.slider {
	@apply bg-white rounded-full select-none absolute inset-0;
	position: absolute;
	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	&:before {
		@apply bg-unlit rounded-full w-6 h-6 absolute;
		content: "";
		-webkit-transition: 0.4s;
		transition: 0.4s;
		left: -0.75rem;
		bottom: -0.35rem;
	}
	img {
		@apply relative z-30;
		left: -0.62rem;
		top: -0.28rem;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
}
